@font-face {
  font-family: "Arial-regular";
  src: url('../assets/fonts/ArialMT.ttf') format('truetype');
}
 

@font-face {
  font-family: "Georgia-regular";
  src: url('../assets/fonts/Georgia.ttf') format('truetype');
}


